@font-face {
    font-family: MAnrope;
    src: url('./fonts/Manrope.ttf') format('ttf');
    font-style: normal;
}

body {
    margin: 0;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('./images/5550760.jpg');
    font-family: MAnrope;
}

.headerContainer {
    width: 100vw;
    height: 10vh;
    background-color: #ffffffbe;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}


.headerContainer .TitleBox {
    display: flex;
}

.headerContainer .hamburger {
    margin: 0 10px;
    padding: 5px;
    font-size: 2.5rem
}


.headerContainer .hamburger:hover {
    background-color: #f78ccc;
    cursor: pointer;
    border: solid #f78ccc;
    border-radius: 5px;
}

.TitleBox .toDoIcon {
color: #f78ccc;
font-size: 2.5rem;
}

.TitleBox .toDo_logo {
    color: #6599fa;
}
