:root {
    --header-font-size: 2.7rem;
    --left-menu-bigger-font-size: 1.5rem;
    --left-menu-smaller-font-size: 1.3rem;
    --left-menu-input-font-size: 1rem;
    --tasks-font-size:1.1rem;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Manrope;
    src: url('./fonts/Manrope.ttf') format('truetype');
    font-style: normal;
}

body {
    margin: 0;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('./images/5550760.jpg');
    font-family: Manrope;
}

#content {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 10vh auto;
    grid-template-areas: "header                  header"
                        "left-side-menu           page-to-diplay";
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    
}

.headerContainer {
    /* height: 10vh; */
    background-color: #ffffffbe;
    display: flex;
    align-items: center;
    font-size: var(--header-font-size);
    grid-area: header;

}


.headerContainer .TitleBox {
    display: flex;
    flex: 1 1;
    justify-content: center;
}

/* .headerContainer .hamburger {
    margin: 0 10px;
    padding: 5px;
    font-size: var(--header-font-size);
}

.headerContainer .hamburger:hover {
    background-color: #f78ccc;
    cursor: pointer;
    border: solid #f78ccc;
    border-radius: 5px;
} */

.TitleBox .toDoIcon {
color: #f78ccc;
font-size: var(--header-font-size);
line-height: 1.4;
}

.TitleBox .toDo_logo {
    color: #6599fa;
}

.leftContainer {
    padding: 3vh;
background-color: #ffffffbe;
grid-area: left-side-menu;
}

.liForLeftMenu {
    display: flex;
    align-items: center;
    font-size: var(--left-menu-smaller-font-size);
    font-weight: normal;
    margin: 6px 0;
}

.liForLeftMenu:hover,
.leftContainer .addProjectContainer:hover,
.leftContainer .singleProjectContainer:hover {
    background-color: #fbbf68;
        cursor: pointer;
}

.liForLeftMenu .icon {
    font-size: var(--left-menu-smaller-font-size);
    margin: 0 10px;
    color: #f78ccc;
}

.leftContainer .homeTitle, .leftContainer .projectsTitle {
    font-size: var(--left-menu-bigger-font-size);
    font-weight: bold;
}

.leftContainer .addProjectContainer {
    font-size: var(--left-menu-smaller-font-size);
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.leftContainer .inputAddProject {
    font-size: var(--left-menu-input-font-size);
    max-width: 100%;
    font-family: Manrope;
}

.leftContainer button.Add {
    background-color: #f78ccc;
    border: solid #f78ccc;
    border-radius: 3px;
    font-family: Manrope;
    margin: 5px 0;
}

.leftContainer .singleProjectContainer {
    display: flex;
    margin-top: 2px;
    padding: 4px;
    justify-content: space-between;
    background-color: #ffffff;
}

button.projectName, .dropdown, button.deleteOrRename
 {
    background-color: #ffffff;
    border: none;
    font-size: var(--left-menu-input-font-size);
    line-height: 1;
    
}

.leftContainer .singleProjectContainer button.projectName {
    font-family: Manrope;
}

.leftContainer .singleProjectContainer button.projectName:hover,
.leftContainer .singleProjectContainer button.deleteOrRename:hover {
    background-color: #fbbf68;
    cursor: pointer;
}

.leftContainer .singleProjectContainer button.deleteOrRename.dropdown {
    position: relative;
    display: inline-block;
}

.leftContainer .singleProjectContainer .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.leftContainer .singleProjectContainer .dropdown-content button.rename,
.leftContainer .singleProjectContainer .dropdown-content button.delete
 {color: black;
    text-decoration: none;
    display: block;
    background-color: #f78ccc;
    border: solid #f78ccc;
    border-radius: 3px;
    font-family: Manrope;
    margin: 1px 0;
}

.leftContainer .singleProjectContainer .dropdown-content button.rename:hover,
.leftContainer .singleProjectContainer .dropdown-content button.delete:hover,
.leftContainer button.Add:hover {
    background-color: #6599fa;
    border: solid #6599fa;
}

.leftContainer .singleProjectContainer .dropdown-content.show {
    display: flex;
    flex-direction: column;
}
.pageTitle {
    margin-left: 30px;
}

.homePageContainer p {
    margin-left: 30px;
}

.singleProjectPageContainer .addToDoContainer {
    margin: 30px;
    border: solid black;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 5vh auto;
        grid-template-areas: "title         title"
                            "taskName      description"
                            "date           priority"
                            "button         button";
    row-gap: 10px;
    /* justify-items: center; */
}

.singleProjectPageContainer .addToDoContainer .addToDoTitle {
    grid-area: title;
    margin-block-end: 0em;
    line-height: 1;
}

.singleProjectPageContainer .addToDoContainer p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.singleProjectPageContainer .addToDoContainer div.inputAddToDoTitle {
    grid-area: taskName;
 } 

 .singleProjectPageContainer .addToDoContainer .inputAddToDoDescription {
     grid-area: description;
 }

 .singleProjectPageContainer .addToDoContainer .inputAddToDoDueDate {
     grid-area: date;
 }

 .singleProjectPageContainer .addToDoContainer .inputAddToDoPriority {
     grid-area: priority;
 }

 .singleProjectPageContainer .addToDoContainer .inputAddToDoPriority input[type="radio"] {
    -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        margin: 0 5px;
        width: 1.15em;
    height: 1.15em;
    border: 0.1em solid currentColor;
    border-radius: 50%;
 }

 .singleProjectPageContainer .addToDoContainer .inputAddToDoPriority:nth-child(2):checked,
 .singleProjectPageContainer .addToDoContainer .inputAddToDoPriority:nth-child(2):focus,
 .singleProjectPageContainer .addToDoContainer .inputAddToDoPriority:nth-child(2):hover{
background-color: green;
 } 

 .singleProjectPageContainer .addToDoContainer .inputAddToDoPriority:nth-child(3):checked,
 .singleProjectPageContainer .addToDoContainer .inputAddToDoPriority:nth-child(3):focus, 
 .singleProjectPageContainer .addToDoContainer .inputAddToDoPriority:nth-child(3):hover {
    background-color: orange;
 }

 .singleProjectPageContainer .addToDoContainer .inputAddToDoPriority:nth-child(4):checked,
 .singleProjectPageContainer .addToDoContainer .inputAddToDoPriority:nth-child(4):focus,
 .singleProjectPageContainer .addToDoContainer .inputAddToDoPriority:nth-child(4):hover {
    background-color: red;
 }

 .singleProjectPageContainer .addToDoContainer button.Add {
     grid-area: button;
     justify-self: center;background-color: #fff;
        border: solid #fff;
        border-radius: 3px;
        font-family: Manrope;
        margin: 5px 0;
 }

 .singleProjectPageContainer .addToDoContainer button.Add:hover {
     background-color: #6599fa;
     border: solid #6599fa;
    cursor: pointer;
 }

 .singleProjectPageContainer .singleTaskContainer,
  .singleProjectPageContainer .listOfTasksFirstRow {
     display: grid;
     align-items: stretch;
     justify-items: stretch;
     text-align: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "checkbox priority name description date bin";
    font-size: var(--tasks-font-size);
    border-bottom-style: groove;
 }

 .listOfTasksFirstRow, .allTasksFirstRow
  {
    font-weight: bold;
 }

  .singleTaskContainer .singleTaskStatus, 
  .singleProjectPageContainer .listOfTasksFirstRowDone {
grid-area: checkbox;
 }

 .singleTaskContainer .singleTaskPriority,
  .singleProjectPageContainer .listOfTasksFirstRowPriority {
     grid-area: priority;
 }

 .singleTaskPriority.green {
     background-color: green;
 }

 .singleTaskPriority.orange {
     background-color: orange;
 }

 .singleTaskPriority.red {
     background-color: red;
 }

 .singleTaskContainer .singleTaskNameDiv,
 .singleProjectPageContainer .listOfTasksFirstRowTask {
     grid-area: name;
 }

 .singleTaskContainer .singleTaskDescription,
 .singleProjectPageContainer .listOfTasksFirstRowDescription {
     grid-area: description;
 }

 .singleTaskContainer .singleTaskDate,
  .singleProjectPageContainer .listOfTasksFirstRowDate {
     grid-area: date;
 }

.singleTaskContainer .singleTaskBin,
 .singleProjectPageContainer .listOfTasksFirstRowDelete {
    grid-area: bin;
}

.singleTaskBin {
    border: none;
    background-color: inherit;
}

.singleTaskBin:hover {
    background-color: #6599fa;
    border: solid #6599fa;
}

.allTasksFirstRow, .singleTaskContainer{
display: grid;
    align-items: stretch;
    justify-items: stretch;
    text-align: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "checkbox project priority name description date bin";
    font-size: var(--tasks-font-size);
    border-bottom-style: groove;
}

.allTasksFirstRow.Done, .singleTaskContainer .singleTaskStatus {
    grid-area: checkbox;
}

.allTasksFirstRow.Project {
    grid-area: project;
}

.allTasksFirstRow.Priority {
    grid-area: priority;
}

.allTasksFirstRow.Task {
    grid-area: name;
}

.allTasksFirstRow.Description {
    grid-area: description;
}

.allTasksFirstRow.Date {
    grid-area: date;
}

.allTasksFirstRow.Delete {
    grid-area: bin;}


